# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# IAR files
*.pbi
*.wsdt
*.dep
Debug
Release
settings

# Build direcotory
build

# Hidden files
.*

# Temporary files
*~
